body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    background-color: #708090;
    padding: 40px;
}

h1 {
    font-size: 25px;
    font-weight: 300;
    line-height: 120%;
    text-transform: uppercase

  }
 
  h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: #708090;
    padding: 10px;
    display:inline
  }
  
  span {
    color:  #fff;
    text-transform: none ;
    background-color: #d5acb4;
    padding: 10px;
  }
  
  img {
    width: 150px;
    height: 150px;
    clip-path: circle(50%);
    margin-top: 20px;
  }

  section,
  header {
    padding: 20px 60px 20px 60px;
  }

  section,
  header {
    background-color: #f0f8ff;
    width: 1100px;
    margin: 0 auto;
    padding-top: 30px;
  }

  address {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;

  }

  a {
    color: #d5acb4;
    font-weight: bold;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
  }

  header ul {
    list-style: none;
  }


.flex-container {
  display:flex;
  max-width: 1200px;
  font-weight: 700;
  padding-top: 20px;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #708090;
  padding-bottom: 50px;
  color: #fff;
}

.col-container {
      display: flex;
      width: 1220px;
      background-color: #f0f8ff;
      display: flex;
      align-items: center;
      margin: auto;
      justify-content: space-around;
      align-items: flex-start;
    }

.work {
  background-color: rgba(111, 128, 144, 0.4)
}

.soft {
  background-color: rgba(111, 128, 144, 0.6)
}

header address img {
  width: 20px;
  height: 20px;
  vertical-align:text-bottom;
}

.flex-container img {
  width: 100px;
  height: 35px;
  vertical-align: bottom;
  clip-path: none;
  padding: 0 10px 0 10px;
}
